{% extends "./base.html"%}


{% block titulo %} inicio {% endblock %}


{% block contenido %} 
<br>
<div class="p-5 bg-light">
    <div class="container">
            <h1 class="display-3">Bienvenidos al sistema de inventario Daka</h1>
            <p>
            ¡Ingresa tus productos ahora! Es fácil y rápido con nuestro sistema
            <hr class="my-2">
            <a name="" id="" class="btn btn-primary btn-lg" href="{% url 'productos' %}" role="button">Empezar</a>

    </div>
</div>
{% endblock %}